In [ ]:
#1. Write a function that takes a list of numbers as input and returns the sum of all even numbers in the list.
def even_sum(lis):
  sum = 0
  for i in lis:
    if i%2 == 0:
      sum +=i
  return sum

lis = [1,2,3,4,5,6]
even_sum(lis)

12

In [ ]:
#2. Write a python function that accepts a string and returns the reverse of that string.
def reversed(string):
  return string[::-1]

string = "hello"
reversed(string)

'olleh'

In [ ]:
#3. Implement a python function that takes a list of integers and return a new list containing the squares of each number.
def squares(lis):
  return [i**2 for i in lis]

l1 = [1,2,3,4,5]
squares(l1)

[1, 4, 9, 16, 25]

In [ ]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def check_prime(n):
  if n<2:
    return False
  for i in range(2, int(n**0.5)+1):
    if n%i == 0:
      return False
    return True

check_prime(13)

True

In [13]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.
class FibonacciIterator:
    def __init__(self, n_terms):
        self.n_terms = n_terms
        self.count = 0
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n_terms:
            raise StopIteration
        if self.count == 0:
            self.count += 1
            return 0
        elif self.count == 1:
            self.count += 1
            return 1
        else:
            fib = self.a + self.b
            self.a, self.b = self.b, fib
            self.count += 1
            return fib


fib_iterator = FibonacciIterator(10)

for num in fib_iterator:
    print(num)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def gen_sq_upto(n):
  for i in range(n):
    yield i**2

for num in gen_sq_upto(5):
  print(num)

0
1
4
9
16

In [ ]:
#7.  Implement a generator function that reads a file line by line and yields each line as a string.

def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()  # strip() removes leading/trailing whitespace

In [2]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
list_of_tup = [(1,2,3),(2,1,4),(4,3,5)]
sorted_list = sorted(list_of_tup, key = lambda x:x[1])
sorted_list

[(2, 1, 4), (1, 2, 3), (4, 3, 5)]

In [5]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
celsius = [23,28,34,41]
farhenheit = list(map(lambda x :(9/5)*x +32, celsius))
farhenheit

[73.4, 82.4, 93.2, 105.8]

In [9]:
#10. Create a Python program that uses `filter()` to remove all the vowels from a given string.
def remove_vowel(str):
  vowels = 'aeiouAEIOU'
  result =''
  filtered_char = filter(lambda x: x not in vowels, str)

  for ch in filtered_char :
    result += ch

  return result

remove_vowel('Hello world')

'Hll wrld'

In [12]:
#11.  Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

     #   Order Number       Bookt Title and Author           Quantity       price per item
     #    34587           Learning Python, Mark Lutz            4            40.95
     #    98762           Programming Python, Mark Lutz         5            56.80
     #    77226          Einführung in Python3, Bernd Klein     3            32.95
     #    88112          Einführung in Python3, Bernd Klein     3            24.99

'''Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map'''

orders =[
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einführung in Python3, Bernd Klein', 3, 24.99]
]

tup_list = list(map(lambda x:(x[0], x[2]*x[3] if x[2]*x[3]>=100 else x[2]*x[3] +10), orders))
tup_list

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]